.container {
    display: flex;
    align-items: flex-end;
    margin: 25px 30px 25px 25px;
    padding: 12px;
    background-color: rosybrown;
    border-radius: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.rightSide {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: rgba(255,255,255,0.3);
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0)
}


.naming {
    font-size: 20px;
    color: cyan;
    font-weight: bold;
}


.message {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}


.timing {
    display: flex;
    justify-content: flex-end;
    color: grey;
}

.title {
   text-align: center;
}