.container {
    display: flex;
    width: 300px;
    border: 1px solid greenyellow;
    background-color: greenyellow;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 23px;
}

.rightSide {
    margin-top: 10px;
    margin-left: 15px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid dimgrey;
    background-color: #0e0e0e;
}

.naming {
    color: #c06fc0;
    padding-top: 7px;
    padding-left: 13px;
}

.message {
    color: white;
    padding-left: 13px;
}


.timing {
    color: grey;
    font-size: 13px;
    margin-top: -17px;
    padding-left: 150px;
}