input :focus {
    outline: none;
}

.superInput {
    margin: 7px;
}

.errorInput {
    margin: 4px;
    background: #D3D3D3;
    border: 2px solid #4551ad;
}

.error {
    color: tomato;
    height: 25px;
}